{{#each this}}
	<div class="btn-group dropdown" id="button--{{id}}" role="group">
  	<button class="btn btn-default dropdown-toggle nextmenu--{{id}}" type="button" id="dropdownMenu--{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{name}}
    <span class="caret"></span>
  	</button>
  	</div>
{{/each}}